:root{
    --footer-bg-color: #f7f7f7; 
}

hr{
    margin: 0;
}

.no-style{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--pure-white);
    
}

.pointer{
   cursor: pointer;
}